---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/">&#39318;&#39029;</HeaderLink>
			<HeaderLink href="/photography">&#25668;&#24433;</HeaderLink>
			<HeaderLink href="/notes">&#31508;&#35760;</HeaderLink>
			<HeaderLink href="/projects">&#39033;&#30446;</HeaderLink>
			<HeaderLink href="/links">&#38142;&#25509;</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 960px;
		max-width: calc(100% - 2em);
		margin: 0 auto;
	}
	nav a {
		padding: 1em 0.75em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.internal-links {
		display: flex;
		justify-content: center;
		gap: 0.75rem;
		overflow-x: auto;
		white-space: nowrap;
	}
	@media (max-width: 520px) {
		header {
			padding: 0 0.5em;
		}
		.internal-links {
			justify-content: flex-start;
			width: 100%;
		}
	}
</style>
